@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Red Badger Restaurant Rater</h1>
    <p class="lead">This is a simple app for users to perform CRUD on the rating of local restaurants.</p>
    <p><a href="https://localhost:44368/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

